aiocron==1.8
aiofiles==23.2.1
aiogram==3.4.1
aiohttp==3.9.5
aioredis==2.0.1
aioschedule==0.5.2
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.6.0
APScheduler==3.10.4
aspose-imaging-python-net==24.5.0
async-timeout==4.0.3
asyncio==3.4.3
asyncpg==0.29.0
attrs==23.2.0
certifi==2024.2.2
config==0.5.1
croniter==2.0.5
env==0.1.0
ffs==0.0.8.2
frozenlist==1.4.1
greenlet==3.0.3
idna==3.7
Jinja2==3.1.4
letter==0.5
magic-filter==1.0.12
MarkupSafe==2.1.5
multidict==6.0.5
pydantic==2.5.3
pydantic_core==2.14.6
python-crontab==3.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.4
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
tzlocal==5.2
yarl==1.9.4

Для правильной работы redis нужно скачать Brew: ввести в терминале строку /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" и только когда все скачается( возможно, нужно будет проделывать эту операцию еще раз)
написать в терминале brew install redis для установки redis хранилища. Redis-server при правильном выполнении всех шагов должен будет работать в фоновом режиме на компьютере пользователя.
