TOKEN='YOUR_TOKEN_IS_HERE'
DB_URL=sqlite+aiosqlite:////Users/maccount/PycharmProjects/python/Healena_project/my_base.db
#выше пример, как это выглядит на моем компьютере, но путь до файла my_base.db после четырех слешей
#нужно прописывать индивидуально для вашего компьютера. Так же, как и токен вашего личного бота
#Нужно создать файл .env в вашем проекте и прописать все вышеперечисленное туда для полноценной работы бота
